<?xml version="1.0"?>

<launch>

    <node pkg="move_base" type="move_base" name="move_base" respawn="false" output="screen" clear_params="true">

        <!-- Costmap Common Params -->
        <rosparam file="$(find move_base_wo_map)/config/costmap_common_params.yaml" command="load" ns="global_costmap"/>
        <rosparam file="$(find move_base_wo_map)/config/costmap_common_params.yaml" command="load" ns="local_costmap"/>

        <!-- Local and Global Costmap Params -->
        <rosparam file="$(find move_base_wo_map)/config/local_costmap_params.yaml" command="load"/>
        <rosparam file="$(find move_base_wo_map)/config/global_costmap_params.yaml" command="load"/>

        <!-- Base Global Planner -->
        <rosparam file="$(find move_base_wo_map)/config/base_global_planner_params.yaml" command="load"/>

        <!-- Base Local Planner -->
        <rosparam file="$(find move_base_wo_map)/config/base_local_planner_params.yaml" command="load"/>

        <!-- Move Base Params -->
        <rosparam file="$(find move_base_wo_map)/config/move_base_params.yaml" command="load"/>

        

    </node>

</launch>